<h2>form</h2>

<!-- <div id="form-container">
  <form id="patient-update-form" action="/patientupdateform" method="post">
    <input class="form-input" type="text" name="[patient]firstname" value="" placeholder="First Name">
    <input class="form-input" type="text" name="[patient]lastname" value="" placeholder="Last Name">
    <input class="form-input" type="text" name="[emr]diagnosis" value="" placeholder="Diagnosis">
    <input class="form-input" type="text" name="[emr]prognosis" value="" placeholder="Prognosis">
    <button id="submit-button" type="submit" name="button">Update Patient Record</button>
  </form>
</div> -->
